__pycache__/
.pytest_cache/
.idea/
*.pyc

img/
img1/
img2/
img3/
imggan/
imggan1/
imggan2/
imgganlog/
imgdirbase/
imgdirbase1/
imgdirbase2/
imgdirganbase1/
imgdirganbase2/
imgdirganbase3/
imgAll/
imgAllC/

models/
models1/
models2/
modelgan/
modelgan1/
modelgan2/
modeldirbase/
modeldirbase1/
modeldirbase2/
modeldirganbase1/
modeldirganbase2/
modeldirganbase3/
modelAll/
modelAllC/

training_logs/
